:host {
  display: block;
  height: 100%;
}

.home-content {
  --background: var(--ion-color-light, #f5f5f5);
  --padding-top: 0;
  --padding-bottom: 24px;
  --padding-start: 0;
  --padding-end: 0;
}

// .home-scroll {
//   min-height: 100%;
//   display: flex;
//   flex-direction: column;
//   gap: 24px;
//   padding: 0 16px 24px;
// }

.home-scroll app-carrusel {
  display: block;
}
