.cont-stat-card {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.chart-container {
  position: relative;
  height: 45vh;
  width: 100%;
}

.subtext {
  margin-top: 0.25rem;
  color: var(--ion-color-medium);
}

.section {
  margin-top: 1.5rem;
}

.section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.btns {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 1rem 0;
}
