:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

ion-header {
  --background: #ffffff;
  box-shadow: 0 2px 12px rgba(15, 23, 42, 0.08);
}

.management-content {
  --background: #f6f7fb;
  display: flex;
  flex-direction: column;
}

.management-content > router-outlet::ng-deep > * {
  display: block;
  height: 100%;
}
