.not-found-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}

h2 {
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: var(--ion-color-dark);
}

p {
  font-size: 1rem;
  margin-bottom: 2rem;
  color: var(--ion-color-medium);
}


// .not-found-wrapper {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   height: 100%;
//   text-align: center;
// }

// ion-card {
//   max-width: 400px;
//   width: 100%;
// }